/* Generals */

* { /* reset settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body { /* apply settings to entire page */
    font-size: 13px;
    height: 100vh;
    width: 100vw;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: hsl(210, 46%, 95%);
    font-weight: 500;
}
h1{ /* add invisible main title*/
    display: none;
}

.wrapper { /* main container for grid desktop display */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 100%;
}
.card { /* user comments block */
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    position: relative;
}
.quoting { /* svg quote decoration */
    position: absolute;
    right: 20px;
    top: 0;
    /* z-index: 0; */
}
.section-titles { /* user name + verified status group; position relative to create new stacking context and being able to be over quoting */
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 81%);
    /* position: relative; */
}
.section-titles h2 { /* user name */
    font-size: 1rem;
}
.section-titles p { /* verified status */
    font-size: .85rem;
    opacity: .5;
}
.section-titles img { /* user picture */
    border-radius: 50%;
    width: 3rem;
    margin-right: 15px;
    border: 2px solid rgba(255, 255, 255, .25);
}
.quote { /* important user quote */
    font-size: 1.5rem;
    padding: 1.2rem 0px;
    color: hsl(0, 0%, 81%);
    opacity: .85;
}
blockquote { /* user quote */
    color: hsl(0, 0%, 81%);
    opacity: .5;
    font-size: .9rem;
}

/* colors */
.bg-purple {
    background: hsl(263, 55%, 52%);
}
.bg-very-dark-gray {
    background: hsl(219, 29%, 14%);
}
.bg-dark-gray {
    background: hsl(217, 19%, 35%);
}
.bg-white {
    background: hsl(0, 0%, 100%);
}

/* COLOR GESTION DEPENDING ON BLOCK COLOR */
/* text */
.bg-purple .quote,
.bg-very-dark-gray .quote,
.bg-very-dark-gray blockquote, 
.bg-dark-gray .quote { /* main quote white for dark bg */
    color: white;
}
.bg-white .quote,
.bg-white h2,
.bg-white p,
.bg-white blockquote { /* main user quotes, p, user and  dark for dark bg */
    color: hsl(217, 19%, 35%);
}

/* picture border */
.bg-very-dark-gray img { /* purple for very-dark-gray card */
    border-color: hsl(263, 55%, 52%);
}

@media screen and (min-width: 992px) {
    body { /* flex center */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper { /* container in grid display; grid areas */
        display: grid;
        max-width: 1440px;
        gap: 20px;
        grid-template-areas: 
            "purple purple dark-gray white1"
            "white2 very-dark-gray very-dark-gray white1";  
    }
    /* area reparts */
    .bg-purple { /* area reparts */
        grid-area: purple;
    }
    .bg-dark-gray { /* area reparts */
        grid-area: dark-gray;
    }
    .bg-very-dark-gray{ /* area reparts */
        grid-area: very-dark-gray;
    }
    .white2 { /* area reparts */
        grid-area: white1;
    }
    .white1 { /* area reparts */
        grid-area: white2;
    }
    .card { /* adjust card padding */
        padding: 25px 35px;
    }
    .quoting { /* adjust quote decoration position */
        right: 75px;
    }
    blockquote { /* resize user quote text size */
        font-size: 1.1rem;
    }
}
